name: Continuous Integration
on:
  pull_request:
  push:
    branches:
      - master

permissions:
  contents: read
  actions: read

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        go-version: ["oldstable", "stable"]
        include:
          - os: ubuntu-latest
            go-version: "stable"
            # We only want to upload coverage on a single target
            uploadCoverage: true
            # We only want to check docker compose on a single target
            testDockerCompose: true
    permissions:
      contents: read
      checks: write
      statuses: write
    runs-on: ${{ matrix.runsOn || matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}

      - name: Check
        run: go run . check
        working-directory: ./internal/cmd/build

      - name: Unit test
        run: go run . unit-test -coverage=${{ matrix.uploadCoverage && 'true' || 'false' }}
        working-directory: ./internal/cmd/build
